.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/hero_desktop.jpeg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: right center;
    text-align: center;
}